@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Inter', sans-serif;
}


.title{
    font-size: 50px;
    font-weight: 800;
    margin-top: 50px;
    color: #ffffff;
}

.container {
    display: grid;
    grid-template-columns: repeat(1);
    justify-content: center;

    margin-top: 75px;
}

.cover img {
    width: 250px;
}

.song .song-title {
    font-size: 20px;
    text-align: center;
}

.banner{
    background-image: url('https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2FsbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80');
}


@media screen and (min-device-width: 900px){
    .container{
        grid-template-columns: repeat(5, auto);
        column-gap: 100px;
        row-gap: 50px;
    }

    .song .song-title{
        font-size: 23px;
        font-weight: 400;
        text-align: center;
    }

    .title{
        text-align: center;
    }
}

