
* {
    font-size: 65px;
}

.container {
	display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(3, 100px);
    column-gap: 8px;
    row-gap: 8px;

    justify-content: center;
}

.item1 {
	background-color: lightblue;

    /* Columna inicial y final */
    grid-column-start: 1;
    grid-column-end: 3;

    /* fila inicial y final */
    grid-row-start: 1;
    grid-row-end: 3;
}

.item2 {
	background-color: lightcoral;
    /* grid-column-start: 3; */
    /* grid-column-end: 5; */

    grid-column: 3 / 5;
}

.item3 {
	background-color: lightgreen;
    grid-column-start: 3;
    grid-row-start: 2;
}

.item4 {
	background-color: lightpink;
}

.item5 {
	background-color: lightseagreen;
    grid-column: 1/5;
}